name: Go

on:
  schedule:
    # run every Sunday
    - cron: '0 13 * * 0'
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Install MySQL
        run: |
          sudo apt remove --purge mysql* -y
          sudo apt autoremove -y
          sudo apt autoclean
          
          sudo DEBIAN_FRONTEND=noninteractive apt update
          sudo DEBIAN_FRONTEND=noninteractive apt install -y mysql-server-8.0
          
          sudo systemctl start mysql.service
          sudo systemctl status mysql.service

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ${{ github.workspace }}/go.mod


      - name: Install development tools
        run: make init

      - name: Run checks/formatting
        run: |
          make check format
          git diff --exit-code

      - name: Run tests with code coverage
        run: |
          go clean -testcache
          make test-cover
          make test-race

      - name: Upload coverage results
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: cover.out
          flags: agent
          fail_ci_if_error: false

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          env | sort
          go env | sort
          git status
